@import "bourbon"
@import "vars"

@media screen and (max-width: 2048px)
	.menu__body .menu__item h2
		text-align: center
		text-transform: uppercase
		padding: 25.404% 20px 0 20px


@media screen and (max-width: 1920px)
	.desctop-hide
		display: none



@media screen and (max-width: 1680px)
	.desctop-hide
		display: none


@media screen and (max-width: 1440px)
	.menu__body .menu__caption
		padding-top: 3.23%

	.menu__body .menu__caption p
		font-size: 16px
		line-height: 18px
		width: 80%
		margin: 0 auto

	.menu__body .menu__caption span
		font-size: 50px

	h2
		font-size: 30px
		line-height: 35px

	.menu__body .menu__item h2
		text-align: center
		text-transform: uppercase
		padding: 80px 0 0 0




@media screen and (max-width: $desktop) //1200
	.desctop-hide
		display: none




@media screen and (max-width: $tablet) //992
	.tablet-hide
		display: none




@media screen and (max-width: $phone) //768
	.phone-hide
		display: none




@media screen and (max-width: 600px)
	.small-phone-hide
		display: none



@media screen and (max-width: $extra-small) //iPhone6 450px
	.small-phone-hide
		display: none
	


@media screen and (max-width: 350px) //smartphones 4.5"
	.small-phone-hide
		display: none