@import "bourbon"

//color
$light-text-color: #c4e6e5

$yellow-color: #cce6c4
$green-color: #1a7774
$light-green-color: #138f8b
$leaf-green-color: #0ccc4b




//font
$regular: "PT-Sans-Regular", sans-serif
$bold: "PT-Sans-Bold", sans-serif



//viewport size
$desktop: "1200px"
$tablet: "992px"
$phone: "767px"
$extra-small: "450px"