@import "bourbon"
@import "vars"
@import "base"


/*header sass styles type here*/
.container
	max-width: 1455px
	min-width: 1170px
	margin: 0 auto
	padding-left: 15px
	padding-right: 15px
	//outline: 1px solid red

#header
	height: auto
	padding: 25px 0 0 0
	background: #000 url("../images/header-bg1.jpg") center no-repeat
	background-size: cover
	position: relative
	color: #fff

	.header__body a
		display: inline-block
		margin-bottom: 175px

	.header__text
		width: 40.55%
		h2
			font-family: $regular
			margin-bottom: 30px
		p
			font-size: 24px
			line-height: 32px
			margin-bottom: 45px












//@import "../libs/font-awesome/scss/font-awesome"