@import "bourbon"
@import "vars"
@import "base"

.phone-show
	display: none

/**************************************************************************/
/**** constructor ****/
#constructor
	background: url("../images/constructor-bg.jpg") top center no-repeat
	background-size: cover

	.constructor
		max-width: 1455px
		margin: 0 auto
		padding: 20px 0 30px 0

		.constructor__save
			text-align: center
			background: rgba(21, 111, 107, .5)
			position: fixed
			left: 0
			top: 180px
			z-index: 10
			padding: 3px 10px 3px 17px
			overflow: hidden
			a
				width: 25px
				height: 25px
				display: block
				float: left
				padding-right: 10px

				img
					opacity: 0.4
				&:hover img
					opacity: 1

		.logo
			display: block
			width: 213px

		h3
			padding-top: 35px
			color: $yellow-color
			text-transform: uppercase
			text-align: center
			position: relative
			font-size: 18px
			margin-bottom: 50px
			&:after
				content: " "
				display: block
				width: 80px
				height: 2px
				background: $yellow-color
				margin-left: -40px
				position: absolute
				left: 50%
				bottom: -15px

	.constructor-bg-layer
		padding: 0 15px
		background: rgba(13, 69, 67, 0.34)

	.tabs
		position: relative
		display: inline-block
		margin-top: 20px
		width: 100%

		.tab__item
			float: right
			border-bottom: 1px solid $green-color

		input
			display: none

		label.tab-btn
			float: right
			display: block
			cursor: pointer
			background: $green-color
			color: $light-text-color
			font-size: 16px
			line-height: 39px
			font-family: $regular
			height: auto
			position: relative
			top: 0
			width: 33.3%
			letter-spacing: 1px
			text-align: center
			box-sizing: border-box
			-webkit-transition: all 150ms ease 0s
			transition: all 150ms ease 0s
			border-right: 1px solid #000
		#tab3 + label
			border-right: 0

		input:checked + label.tab-btn
			background: #138f8b
			cursor: pointer

		.tab
			display: none

		.content
			width: 100%
			float: left
			position: relative
			border-top: 1px solid $green-color
			box-sizing: border-box
			transition: all .5s

		input:nth-of-type(1):checked ~ .content .tab:nth-of-type(1),
		input:nth-of-type(2):checked ~ .content .tab:nth-of-type(2),
		input:nth-of-type(3):checked ~ .content .tab:nth-of-type(3)
			display: block

		.mCSB_scrollTools .mCSB_draggerRail
			width: 4px
			background: $green-color

		.tab__item
			padding-top: 15px
			&:first-child
				padding-top: 0

		.tab__body
			display: inline-block
			width: 100%

		.left
			width: 40%
			min-height: 100px
			float: left

		.left__img
			background: rgba(21, 111, 107, .5)
			border: 1px solid $green-color
			text-align: center
			padding: 30px
			margin-bottom: 30px
			max-height: 331px

			img
				height: 100%
				width: auto

		.left__description
			padding: 19px 25px
			min-height: 380px
			border: 1px solid $green-color
			background: rgba(204, 230, 196, .5)
			transition: all .3s
			color: #082525

			h4
				font-size: 18px
				line-height: 26px
				position: relative
				display: inline-block
				margin-bottom: 20px
				&:after
					position: absolute
					content: " "
					display: block
					width: 280px
					height: 1px
					left: 0
					bottom: -8px
					background: #43655a
					background: -moz-linear-gradient(left,  #43655a 0%, #668b7b 100%)
					background: -webkit-linear-gradient(left,  #43655a 0%,#668b7b 100%)
					background: linear-gradient(to right,  #43655a 0%,#668b7b 100%)
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43655a', endColorstr='#668b7b',GradientType=1 )

		.right
			width: 100%
			min-height: 100px
			float: right

		.right__select-box
			background: rgba(21, 111, 107, .5)
			border: 1px solid $green-color
			padding: 0 0 18px 0
			margin-bottom: 30px
			position: relative
			overflow: hidden

		.icon
			display: block
			position: relative
			width: 1.5em
			height: 1.5em
			margin: 0 auto

			&:before,&:after
				content: ""
				position: absolute

		.select-box__item
			display: block
			width: 50%
			text-align: center
			float: left
			padding-top: 20px
			p
				color: $light-text-color
			img
				margin: 0 auto 15px auto

		.mCSB_scrollTools .mCSB_draggerRail
			width: 35px!important
			background: #0f5552!important
			border-radius: 0
			margin-left: -17px

		.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
			width: 35px!important
			border-radius: 0
			background: #138f8b!important
			margin-left: -17px


.description
	width: 416px

.description, .comlect__item
	padding: 25px 15px
	position: absolute
	border: 1px solid $light-green-color
	background: $green-color
	transition: all .3s
	margin: 0 auto
	z-index: 3

	.mfp-close
		display: none !important

	.close_popup
		position: absolute
		right: 13px
		top: 10px

	h4
		font-size: 14px
		line-height: 14px
		position: relative
		display: inline-block
		margin-bottom: 20px
		color: $yellow-color
		&:after
			position: absolute
			content: " "
			display: block
			width: 280px
			height: 1px
			left: 0
			bottom: -8px
			background: #43655a
			background: -moz-linear-gradient(left,  #43655a 0%, #668b7b 100%)
			background: -webkit-linear-gradient(left,  #43655a 0%,#668b7b 100%)
			background: linear-gradient(to right,  #43655a 0%,#668b7b 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43655a', endColorstr='#668b7b',GradientType=1 )


.description__body
	color: #082525
	.tr
		display: table-row
		.td
			display: table-cell
			padding-bottom: 10px
			font-size: 12px
			&:last-child
				color: $light-text-color
				padding-left: 60px

	.tr:last-child .td
		font-size: 14px
		font-family: $bold
		color: #082525
		padding-bottom: 0

		.item__price-wrap
			float: right
			text-align: right

		.parameters
			color: #082525

.btn-box__price
	background: $leaf-green-color
	padding: 12px 14px
	width: calc(50% - 29px)
	float: left
	color: $light-text-color
	font-family: $bold
	font-size: 16px
	span:nth-child(2)
		float: right

.right__btn-box a
	font-size: 16px
	float: right
	padding: 12px 0
	text-align: center
	width: calc(50% - 15px)

#constructor .tabs .comlect__item
	font-size: 12px
	line-height: 12px
	max-height: 550px
	z-index: 2
	p
		font-size: 12px
		line-height: 12px

	h4
		&:after
			display: none

	.scroll-wrap
		border: 1px solid $light-text-color
		padding-left: 12px

		.scroll
			max-height: 446px

	.mCSB_scrollTools .mCSB_draggerRail
		width: 13px!important
		background: #0f5552!important
		border-radius: 0
		margin-left: 3px

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
		width: 13px!important
		border-radius: 0
		background: #138f8b!important
		margin-left: 3px

	.tab__item
		padding-top: 10px
		border-bottom: 1px solid $light-green-color

	.check-wrapper
		display: table-cell
		vertical-align: middle
		text-align: center

		input[type=radio]
			display: none

		label.chkbox
			float: left
			display: block
			width: 10px
			height: 10px
			border: 1px solid #082525
			margin: 0 12px 0 0

		input[type=radio]:checked + label:before
			width: 10px
			height: 10px
			display: block
			content: ""
			background: url("../images/ok-arrow-dark.png") 1px center no-repeat

	.desc-wrap
		vertical-align: top
		display: table-cell
		p
			color: $light-text-color
			font-size: 12px
			line-height: 12px
			margin-bottom: 5px
			&:nth-child(2)
				color: #082525

		a
			color: $yellow-color
			font-size: 12px
			line-height: 12px
			display: inline-block
			margin-bottom: 12px
			&:hover
				text-decoration: underline

	.price-wrap
		width: 23%
		text-align: right
		display: table-cell
		vertical-align: top
		font-size: 14px
		line-height: 14px
		color: $light-text-color


.close_show
	position: absolute
	right: 13px
	top: 10px


#footer
	.footer-wrapper
		background: #000 url("../images/footer-bg.jpg") center no-repeat
		background-size: cover

	.footer
		padding: 32px 0
		color: $light-text-color
		overflow: hidden

		.column
			float: left

		.column:first-child
			width: 50%

		.column:nth-child(2)
			width: 50%

		.column:last-child
			width: 100%

	h4
		text-transform: uppercase
		margin-bottom: 15px
		font-size: 16px
		line-height: 20px

	p
		font-size: 12px
		line-height: 14px

	li
		margin-bottom: 14px
		overflow: hidden

		a
			display: block
			width: 40px
			height: 40px
			float: left
			margin-right: 20px
			margin-bottom: 10px
		.fb
			background: url("../images/fb.png") 0 0 no-repeat
			&:hover
				background: url("../images/fb.png") 0 -40px no-repeat
		.vk
			background: url("../images/vk.png") 0 0 no-repeat
			&:hover
				background: url("../images/vk.png") 0 -40px no-repeat

	.ff-wrapper
		input[type=text],
		input[type=email],
		textarea
			color: $light-text-color
			font-family: $regular
			font-size: 18px
			border: 1px solid $light-text-color
			background: transparent
			width: calc(100% - 30px)
			max-width: 100%
			padding: 5px 5px 7px 20px
			margin-bottom: 20px
		textarea
			height: 100px
			max-height: 166px
		input::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder
			font-family: $regular
			color: $light-text-color
		input::-moz-placeholder,
		textarea::-moz-placeholder
			font-family: $regular
			color: $light-text-color
		input:-moz-placeholder,
		textarea:-moz-placeholder
			font-family: $regular
			color: $light-text-color
		input:-ms-input-placeholder,
		textarea:-ms-input-placeholder
			font-family: $regular
			color: $light-text-color

	.captcha-wrapper
		overflow: hidden
		input[type=text]
			float: left
			width: calc(100% - 30px)

		input:first-child
			margin-right: 35px

	input.btn
		font-size: 22px
		padding-top: 5px
		padding-bottom: 7px
		width: 214px
		margin-left: calc(50% - 107px)
		border: none
		font-family: $regular


.copy
	background: #140903
	color: $light-text-color
	padding: 12px
	font-family: $regular
	text-align: center
	p
		font-size: 14px

#order-form
	background: $green-color
	width: 290px
	padding: 30px
	margin: 0 auto
	position: relative
	h4
		font-family: $regular
		padding-top: 10px
		font-size: 14px
		margin-left: -20px
		color: #cce6c4
		position: relative
		display: inline-block

	a.close_popup
		position: absolute
		right: 13px
		top: 9px

	input,
	input,
	textarea
		color: $light-text-color
		font-family: $regular
		font-size: 12px
		border: 1px solid $light-text-color
		background: transparent
		width: calc(100% - 30px)
		max-width: calc(100% - 30px)
		padding: 5px 5px 6px 15px
		margin-top: 20px
	textarea
		height: 98px
		max-height: 98px
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder
		font-family: $regular
		color: $light-text-color
	input::-moz-placeholder,
	textarea::-moz-placeholder
		font-family: $regular
		color: $light-text-color
	input:-moz-placeholder,
	textarea:-moz-placeholder
		font-family: $regular
		color: $light-text-color
	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder
		font-family: $regular
		color: $light-text-color

	.mfp-close
		display: none

	.btn
		background: #0b4543
		width: 150px
		text-align: center
		padding-left: 0
		padding-right: 0
		margin-left: calc(50% - 75px)
		border: none
		&:hover
			background: #082525





/**** end constructor ****/


@import "media"