* {
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  font-family: "PT-Sans-Regular", sans-serif; }

a, a:visited, a:focus {
  text-decoration: none;
  outline: none; }

a:hover {
  text-decoration: none;
  outline: none; }

a:focus, .btn:focus {
  outline: none;
  text-decoration: none; }

input:focus, textarea:focus {
  outline: 0; }

h2 {
  font-size: 40px;
  line-height: 50px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 20px; }

p {
  font-size: 18px;
  line-height: 20px; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style: none; }

section {
  position: relative; }

.btn {
  display: inline-block;
  font-size: 22px;
  padding: 13px 25px;
  background: rgba(19, 143, 139, 0.85);
  color: #c4e6e5;
  cursor: pointer; }
  .btn:hover {
    background: #138f8b; }

.hide {
  display: none; }

.phone-show {
  display: none; }

/**************************************************************************/
/**** constructor ****/
#constructor {
  background: url("../images/constructor-bg.jpg") top center no-repeat;
  background-size: cover; }
  #constructor .constructor {
    max-width: 1455px;
    margin: 0 auto;
    padding: 20px 0 30px 0; }
    #constructor .constructor .constructor__save {
      text-align: center;
      background: rgba(21, 111, 107, 0.5);
      position: fixed;
      left: 0;
      top: 180px;
      z-index: 10;
      padding: 3px 10px 3px 17px;
      overflow: hidden; }
      #constructor .constructor .constructor__save a {
        width: 25px;
        height: 25px;
        display: block;
        float: left;
        padding-right: 10px; }
        #constructor .constructor .constructor__save a img {
          opacity: 0.4; }
        #constructor .constructor .constructor__save a:hover img {
          opacity: 1; }
    #constructor .constructor .logo {
      display: block;
      width: 213px; }
    #constructor .constructor h3 {
      padding-top: 35px;
      color: #cce6c4;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      font-size: 18px;
      margin-bottom: 50px; }
      #constructor .constructor h3:after {
        content: " ";
        display: block;
        width: 80px;
        height: 2px;
        background: #cce6c4;
        margin-left: -40px;
        position: absolute;
        left: 50%;
        bottom: -15px; }
  #constructor .constructor-bg-layer {
    padding: 0 15px;
    background: rgba(13, 69, 67, 0.34); }
  #constructor .tabs {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 100%; }
    #constructor .tabs .tab__item {
      float: right;
      border-bottom: 1px solid #1a7774; }
    #constructor .tabs input {
      display: none; }
    #constructor .tabs label.tab-btn {
      float: right;
      display: block;
      cursor: pointer;
      background: #1a7774;
      color: #c4e6e5;
      font-size: 16px;
      line-height: 39px;
      font-family: "PT-Sans-Regular", sans-serif;
      height: auto;
      position: relative;
      top: 0;
      width: 33.3%;
      letter-spacing: 1px;
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 150ms ease 0s;
      transition: all 150ms ease 0s;
      border-right: 1px solid #000; }
    #constructor .tabs #tab3 + label {
      border-right: 0; }
    #constructor .tabs input:checked + label.tab-btn {
      background: #138f8b;
      cursor: pointer; }
    #constructor .tabs .tab {
      display: none; }
    #constructor .tabs .content {
      width: 100%;
      float: left;
      position: relative;
      border-top: 1px solid #1a7774;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all .5s;
      transition: all .5s; }
    #constructor .tabs input:nth-of-type(1):checked ~ .content .tab:nth-of-type(1),
    #constructor .tabs input:nth-of-type(2):checked ~ .content .tab:nth-of-type(2),
    #constructor .tabs input:nth-of-type(3):checked ~ .content .tab:nth-of-type(3) {
      display: block; }
    #constructor .tabs .mCSB_scrollTools .mCSB_draggerRail {
      width: 4px;
      background: #1a7774; }
    #constructor .tabs .tab__item {
      padding-top: 15px; }
      #constructor .tabs .tab__item:first-child {
        padding-top: 0; }
    #constructor .tabs .tab__body {
      display: inline-block;
      width: 100%; }
    #constructor .tabs .left {
      width: 40%;
      min-height: 100px;
      float: left; }
    #constructor .tabs .left__img {
      background: rgba(21, 111, 107, 0.5);
      border: 1px solid #1a7774;
      text-align: center;
      padding: 30px;
      margin-bottom: 30px;
      max-height: 331px; }
      #constructor .tabs .left__img img {
        height: 100%;
        width: auto; }
    #constructor .tabs .left__description {
      padding: 19px 25px;
      min-height: 380px;
      border: 1px solid #1a7774;
      background: rgba(204, 230, 196, 0.5);
      -webkit-transition: all .3s;
      transition: all .3s;
      color: #082525; }
      #constructor .tabs .left__description h4 {
        font-size: 18px;
        line-height: 26px;
        position: relative;
        display: inline-block;
        margin-bottom: 20px; }
        #constructor .tabs .left__description h4:after {
          position: absolute;
          content: " ";
          display: block;
          width: 280px;
          height: 1px;
          left: 0;
          bottom: -8px;
          background: #43655a;
          background: -webkit-linear-gradient(left, #43655a 0%, #668b7b 100%);
          background: -webkit-gradient(linear, left top, right top, from(#43655a), to(#668b7b));
          background: linear-gradient(to right, #43655a 0%, #668b7b 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43655a', endColorstr='#668b7b',GradientType=1 ); }
    #constructor .tabs .right {
      width: 100%;
      min-height: 100px;
      float: right; }
    #constructor .tabs .right__select-box {
      background: rgba(21, 111, 107, 0.5);
      border: 1px solid #1a7774;
      padding: 0 0 18px 0;
      margin-bottom: 30px;
      position: relative;
      overflow: hidden; }
    #constructor .tabs .icon {
      display: block;
      position: relative;
      width: 1.5em;
      height: 1.5em;
      margin: 0 auto; }
      #constructor .tabs .icon:before, #constructor .tabs .icon:after {
        content: "";
        position: absolute; }
    #constructor .tabs .select-box__item {
      display: block;
      width: 50%;
      text-align: center;
      float: left;
      padding-top: 20px; }
      #constructor .tabs .select-box__item p {
        color: #c4e6e5; }
      #constructor .tabs .select-box__item img {
        margin: 0 auto 15px auto; }
    #constructor .tabs .mCSB_scrollTools .mCSB_draggerRail {
      width: 35px !important;
      background: #0f5552 !important;
      border-radius: 0;
      margin-left: -17px; }
    #constructor .tabs .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      width: 35px !important;
      border-radius: 0;
      background: #138f8b !important;
      margin-left: -17px; }

.description {
  width: 416px; }

.description, .comlect__item {
  padding: 25px 15px;
  position: absolute;
  border: 1px solid #138f8b;
  background: #1a7774;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 0 auto;
  z-index: 3; }
  .description .mfp-close, .comlect__item .mfp-close {
    display: none !important; }
  .description .close_popup, .comlect__item .close_popup {
    position: absolute;
    right: 13px;
    top: 10px; }
  .description h4, .comlect__item h4 {
    font-size: 14px;
    line-height: 14px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    color: #cce6c4; }
    .description h4:after, .comlect__item h4:after {
      position: absolute;
      content: " ";
      display: block;
      width: 280px;
      height: 1px;
      left: 0;
      bottom: -8px;
      background: #43655a;
      background: -webkit-linear-gradient(left, #43655a 0%, #668b7b 100%);
      background: -webkit-gradient(linear, left top, right top, from(#43655a), to(#668b7b));
      background: linear-gradient(to right, #43655a 0%, #668b7b 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43655a', endColorstr='#668b7b',GradientType=1 ); }

.description__body {
  color: #082525; }
  .description__body .tr {
    display: table-row; }
    .description__body .tr .td {
      display: table-cell;
      padding-bottom: 10px;
      font-size: 12px; }
      .description__body .tr .td:last-child {
        color: #c4e6e5;
        padding-left: 60px; }
  .description__body .tr:last-child .td {
    font-size: 14px;
    font-family: "PT-Sans-Bold", sans-serif;
    color: #082525;
    padding-bottom: 0; }
    .description__body .tr:last-child .td .item__price-wrap {
      float: right;
      text-align: right; }
    .description__body .tr:last-child .td .parameters {
      color: #082525; }

.btn-box__price {
  background: #0ccc4b;
  padding: 12px 14px;
  width: -webkit-calc(50% - 29px);
  width: calc(50% - 29px);
  float: left;
  color: #c4e6e5;
  font-family: "PT-Sans-Bold", sans-serif;
  font-size: 16px; }
  .btn-box__price span:nth-child(2) {
    float: right; }

.right__btn-box a {
  font-size: 16px;
  float: right;
  padding: 12px 0;
  text-align: center;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px); }

#constructor .tabs .comlect__item {
  font-size: 12px;
  line-height: 12px;
  max-height: 550px;
  z-index: 2; }
  #constructor .tabs .comlect__item p {
    font-size: 12px;
    line-height: 12px; }
  #constructor .tabs .comlect__item h4:after {
    display: none; }
  #constructor .tabs .comlect__item .scroll-wrap {
    border: 1px solid #c4e6e5;
    padding-left: 12px; }
    #constructor .tabs .comlect__item .scroll-wrap .scroll {
      max-height: 446px; }
  #constructor .tabs .comlect__item .mCSB_scrollTools .mCSB_draggerRail {
    width: 13px !important;
    background: #0f5552 !important;
    border-radius: 0;
    margin-left: 3px; }
  #constructor .tabs .comlect__item .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 13px !important;
    border-radius: 0;
    background: #138f8b !important;
    margin-left: 3px; }
  #constructor .tabs .comlect__item .tab__item {
    padding-top: 10px;
    border-bottom: 1px solid #138f8b; }
  #constructor .tabs .comlect__item .check-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    #constructor .tabs .comlect__item .check-wrapper input[type=radio] {
      display: none; }
    #constructor .tabs .comlect__item .check-wrapper label.chkbox {
      float: left;
      display: block;
      width: 10px;
      height: 10px;
      border: 1px solid #082525;
      margin: 0 12px 0 0; }
    #constructor .tabs .comlect__item .check-wrapper input[type=radio]:checked + label:before {
      width: 10px;
      height: 10px;
      display: block;
      content: "";
      background: url("../images/ok-arrow-dark.png") 1px center no-repeat; }
  #constructor .tabs .comlect__item .desc-wrap {
    vertical-align: top;
    display: table-cell; }
    #constructor .tabs .comlect__item .desc-wrap p {
      color: #c4e6e5;
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 5px; }
      #constructor .tabs .comlect__item .desc-wrap p:nth-child(2) {
        color: #082525; }
    #constructor .tabs .comlect__item .desc-wrap a {
      color: #cce6c4;
      font-size: 12px;
      line-height: 12px;
      display: inline-block;
      margin-bottom: 12px; }
      #constructor .tabs .comlect__item .desc-wrap a:hover {
        text-decoration: underline; }
  #constructor .tabs .comlect__item .price-wrap {
    width: 23%;
    text-align: right;
    display: table-cell;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
    color: #c4e6e5; }

.close_show {
  position: absolute;
  right: 13px;
  top: 10px; }

#footer .footer-wrapper {
  background: #000 url("../images/footer-bg.jpg") center no-repeat;
  background-size: cover; }

#footer .footer {
  padding: 32px 0;
  color: #c4e6e5;
  overflow: hidden; }
  #footer .footer .column {
    float: left; }
  #footer .footer .column:first-child {
    width: 50%; }
  #footer .footer .column:nth-child(2) {
    width: 50%; }
  #footer .footer .column:last-child {
    width: 100%; }

#footer h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px; }

#footer p {
  font-size: 12px;
  line-height: 14px; }

#footer li {
  margin-bottom: 14px;
  overflow: hidden; }
  #footer li a {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px; }
  #footer li .fb {
    background: url("../images/fb.png") 0 0 no-repeat; }
    #footer li .fb:hover {
      background: url("../images/fb.png") 0 -40px no-repeat; }
  #footer li .vk {
    background: url("../images/vk.png") 0 0 no-repeat; }
    #footer li .vk:hover {
      background: url("../images/vk.png") 0 -40px no-repeat; }

#footer .ff-wrapper input[type=text],
#footer .ff-wrapper input[type=email],
#footer .ff-wrapper textarea {
  color: #c4e6e5;
  font-family: "PT-Sans-Regular", sans-serif;
  font-size: 18px;
  border: 1px solid #c4e6e5;
  background: transparent;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  max-width: 100%;
  padding: 5px 5px 7px 20px;
  margin-bottom: 20px; }

#footer .ff-wrapper textarea {
  height: 100px;
  max-height: 166px; }

#footer .ff-wrapper input::-webkit-input-placeholder,
#footer .ff-wrapper textarea::-webkit-input-placeholder {
  font-family: "PT-Sans-Regular", sans-serif;
  color: #c4e6e5; }

#footer .ff-wrapper input::-moz-placeholder,
#footer .ff-wrapper textarea::-moz-placeholder {
  font-family: "PT-Sans-Regular", sans-serif;
  color: #c4e6e5; }

#footer .ff-wrapper input:-moz-placeholder,
#footer .ff-wrapper textarea:-moz-placeholder {
  font-family: "PT-Sans-Regular", sans-serif;
  color: #c4e6e5; }

#footer .ff-wrapper input:-ms-input-placeholder,
#footer .ff-wrapper textarea:-ms-input-placeholder {
  font-family: "PT-Sans-Regular", sans-serif;
  color: #c4e6e5; }

#footer .captcha-wrapper {
  overflow: hidden; }
  #footer .captcha-wrapper input[type=text] {
    float: left;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px); }
  #footer .captcha-wrapper input:first-child {
    margin-right: 35px; }

#footer input.btn {
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 7px;
  width: 214px;
  margin-left: -webkit-calc(50% - 107px);
  margin-left: calc(50% - 107px);
  border: none;
  font-family: "PT-Sans-Regular", sans-serif; }

.copy {
  background: #140903;
  color: #c4e6e5;
  padding: 12px;
  font-family: "PT-Sans-Regular", sans-serif;
  text-align: center; }
  .copy p {
    font-size: 14px; }

#order-form {
  background: #1a7774;
  width: 290px;
  padding: 30px;
  margin: 0 auto;
  position: relative; }
  #order-form h4 {
    font-family: "PT-Sans-Regular", sans-serif;
    padding-top: 10px;
    font-size: 14px;
    margin-left: -20px;
    color: #cce6c4;
    position: relative;
    display: inline-block; }
  #order-form a.close_popup {
    position: absolute;
    right: 13px;
    top: 9px; }
  #order-form input,
  #order-form input,
  #order-form textarea {
    color: #c4e6e5;
    font-family: "PT-Sans-Regular", sans-serif;
    font-size: 12px;
    border: 1px solid #c4e6e5;
    background: transparent;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
    padding: 5px 5px 6px 15px;
    margin-top: 20px; }
  #order-form textarea {
    height: 98px;
    max-height: 98px; }
  #order-form input::-webkit-input-placeholder,
  #order-form textarea::-webkit-input-placeholder {
    font-family: "PT-Sans-Regular", sans-serif;
    color: #c4e6e5; }
  #order-form input::-moz-placeholder,
  #order-form textarea::-moz-placeholder {
    font-family: "PT-Sans-Regular", sans-serif;
    color: #c4e6e5; }
  #order-form input:-moz-placeholder,
  #order-form textarea:-moz-placeholder {
    font-family: "PT-Sans-Regular", sans-serif;
    color: #c4e6e5; }
  #order-form input:-ms-input-placeholder,
  #order-form textarea:-ms-input-placeholder {
    font-family: "PT-Sans-Regular", sans-serif;
    color: #c4e6e5; }
  #order-form .mfp-close {
    display: none; }
  #order-form .btn {
    background: #0b4543;
    width: 150px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: -webkit-calc(50% - 75px);
    margin-left: calc(50% - 75px);
    border: none; }
    #order-form .btn:hover {
      background: #082525; }

/**** end constructor ****/
@media screen and (max-width: 768px) {
  .phone-hide {
    display: none; }
  .phone-show {
    display: block; } }

@media screen and (max-width: 600px) {
  .small-phone-hide {
    display: none; } }

@media screen and (max-width: 450px) {
  .small-phone-hide {
    display: none; } }

@media screen and (max-width: 350px) {
  .small-phone-hide {
    display: none; } }
