* {
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  font-family: "PT-Sans-Regular", sans-serif; }

a, a:visited, a:focus {
  text-decoration: none;
  outline: none; }

a:hover {
  text-decoration: none;
  outline: none; }

a:focus, .btn:focus {
  outline: none;
  text-decoration: none; }

input:focus, textarea:focus {
  outline: 0; }

h2 {
  font-size: 40px;
  line-height: 50px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 20px; }

p {
  font-size: 18px;
  line-height: 20px; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style: none; }

section {
  position: relative; }

.btn {
  display: inline-block;
  font-size: 22px;
  padding: 13px 25px;
  background: rgba(19, 143, 139, 0.85);
  color: #c4e6e5;
  cursor: pointer; }
  .btn:hover {
    background: #138f8b; }

.phone-show {
  display: none; }

#menu {
  margin-bottom: -4px;
  position: relative; }

.menu__body {
  overflow: hidden; }
  .menu__body img {
    width: 100%; }
  .menu__body .menu__item {
    display: inline-block;
    width: 22.555%;
    height: 41%;
    position: absolute;
    text-align: center;
    color: #c4e6e5; }
    .menu__body .menu__item:hover {
      color: #0ccc4b;
      background: url("../images/menu-border.png") center 0 no-repeat;
      background-size: cover; }
    .menu__body .menu__item h2 {
      text-align: center;
      text-transform: uppercase;
      margin: 25px auto 0 auto;
      width: 80%; }
  .menu__body .first {
    background: url("../images/menu_1.png") top no-repeat;
    background-size: 100%;
    left: 26.048%;
    top: 10.43%; }
    .menu__body .first:hover {
      background: url("../images/menu-border.png") center 0 no-repeat, url("../images/menu_1.png") top no-repeat;
      background-size: 100%; }
  .menu__body .second {
    background: url("../images/menu_2.png") top no-repeat;
    background-size: 100%;
    right: 16.98%;
    top: 10.43%; }
    .menu__body .second:hover {
      background: url("../images/menu-border.png") center 0 no-repeat, url("../images/menu_2.png") top no-repeat;
      background-size: 100%; }
  .menu__body .menu__caption {
    display: inline-block;
    width: 22.555%;
    height: 41%;
    position: absolute;
    text-align: center;
    color: #c4e6e5;
    background: url("../images/menu_caption_bg.png") top no-repeat;
    background-size: 101%;
    padding-top: 3.7%; }
    .menu__body .menu__caption span {
      font-size: 60px;
      font-family: "PT-Sans-Bold", sans-serif; }
    .menu__body .menu__caption p {
      width: 88%;
      margin: 0 auto;
      font-size: 20px;
      line-height: 26px; }
  .menu__body .one {
    left: 9.03%;
    top: 31.25%; }
  .menu__body .two {
    left: 26.3%;
    top: 52%; }
  .menu__body .three {
    right: 33.9%;
    top: 31.25%; }
  .menu__body .four {
    right: 16.8%;
    top: 52%; }

#solution {
  background: #000 url("../images/solution-bg.jpg") center no-repeat;
  background-size: cover; }
  #solution .solution__body {
    padding: 35px 0;
    overflow: hidden;
    color: #c4e6e5; }
    #solution .solution__body h3 {
      text-align: center;
      position: relative;
      margin-bottom: 70px; }
      #solution .solution__body h3:after {
        content: " ";
        display: block;
        width: 80px;
        height: 1px;
        background: #1a7774;
        margin-left: -40px;
        position: absolute;
        left: 50%;
        bottom: -17px; }
    #solution .solution__body .left {
      width: 49%;
      float: left;
      overflow: hidden; }
      #solution .solution__body .left .description {
        border: 1px solid #1a7774;
        background: rgba(21, 111, 107, 0.1);
        padding: 25px 15px;
        max-height: 420px; }
      #solution .solution__body .left .description__imgBox {
        width: 50%;
        display: table-cell;
        vertical-align: top; }
      #solution .solution__body .left .description__textBox {
        display: table-cell;
        padding-left: 12%; }
        #solution .solution__body .left .description__textBox h4 {
          color: #cce6c4;
          position: relative;
          margin-bottom: 20px;
          line-height: 25px; }
          #solution .solution__body .left .description__textBox h4:after {
            position: absolute;
            content: " ";
            display: block;
            width: 170px;
            height: 1px;
            left: 0;
            bottom: -10px;
            background: #566d5f;
            background: -webkit-linear-gradient(left, #566d5f 0%, #152928 100%);
            background: -webkit-gradient(linear, left top, right top, from(#566d5f), to(#152928));
            background: linear-gradient(to right, #566d5f 0%, #152928 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#566d5f', endColorstr='#152928',GradientType=1 ); }
        #solution .solution__body .left .description__textBox ul {
          min-height: 160px;
          padding-top: 15px; }
          #solution .solution__body .left .description__textBox ul li {
            font-size: 18px;
            line-height: 26px; }
      #solution .solution__body .left .price-box p {
        font-size: 24px;
        margin-bottom: 15px; }
        #solution .solution__body .left .price-box p span:first-child {
          color: #cce6c4;
          margin-right: 25px; }
      #solution .solution__body .left .price-box .btn {
        font-size: 20px;
        padding: 8px 20px; }
      #solution .solution__body .left .option {
        margin: 45px 0 0 0; }
        #solution .solution__body .left .option h4 {
          color: #cce6c4;
          margin-bottom: 25px; }
        #solution .solution__body .left .option li {
          overflow: hidden;
          margin-bottom: 20px; }
          #solution .solution__body .left .option li .tr {
            display: table-row;
            vertical-align: top; }
          #solution .solution__body .left .option li .td {
            display: table-cell;
            vertical-align: top; }
          #solution .solution__body .left .option li .td:last-child {
            width: 25%;
            padding-left: 11.34%; }
        #solution .solution__body .left .option input[type=checkbox] {
          display: none; }
        #solution .solution__body .left .option label {
          float: left;
          display: block;
          width: 18px;
          height: 18px;
          border: 1px solid #1a7774;
          margin: 0 40px 0 30px; }
        #solution .solution__body .left .option input[type=checkbox]:checked + label:before {
          width: 18px;
          height: 18px;
          display: block;
          content: "";
          background: url("../images/ok-arrow.png") 2px center no-repeat; }
    #solution .solution__body .right {
      width: 49%;
      float: right;
      overflow: hidden; }
      #solution .solution__body .right .tabs {
        position: relative;
        overflow: hidden; }
      #solution .solution__body .right .tab__item {
        border-bottom: 1px solid #1a7774; }
      #solution .solution__body .right input {
        display: none; }
      #solution .solution__body .right label.tab-btn {
        display: block;
        cursor: pointer;
        background: #1a7774;
        color: #c4e6e5;
        font-size: 20px;
        line-height: 25px;
        font-family: "PT-Sans-Regular", sans-serif;
        height: 55px;
        position: relative;
        top: 0;
        padding: 15px;
        float: left;
        width: 33.333333%;
        letter-spacing: 1px;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 150ms ease 0s;
        transition: all 150ms ease 0s;
        margin: 2px 0 0 0;
        border-right: 1px solid #000; }
      #solution .solution__body .right #tab3 + label {
        border-right: 0; }
      #solution .solution__body .right input:checked + label.tab-btn {
        background: #138f8b;
        height: 57px;
        margin-top: 0;
        line-height: 33px;
        cursor: pointer; }
      #solution .solution__body .right .tab {
        display: none;
        padding: 5px 10px;
        clear: left;
        -webkit-transition: all .3s;
        transition: all .3s; }
      #solution .solution__body .right .content {
        max-height: 700px;
        height: auto;
        width: 100%;
        float: left;
        position: relative;
        padding: 15px 0 15px 20px;
        background: rgba(21, 111, 107, 0.1);
        border: 1px solid #1a7774;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .5s;
        transition: all .5s; }
        #solution .solution__body .right .content .scroll {
          max-height: 660px; }
      #solution .solution__body .right input:nth-of-type(1):checked ~ .content .tab:nth-of-type(1),
      #solution .solution__body .right input:nth-of-type(2):checked ~ .content .tab:nth-of-type(2),
      #solution .solution__body .right input:nth-of-type(3):checked ~ .content .tab:nth-of-type(3) {
        display: block; }
      #solution .solution__body .right .mCSB_scrollTools .mCSB_draggerRail {
        width: 4px;
        background: #1a7774; }
      #solution .solution__body .right .tab__item {
        padding-top: 15px; }
        #solution .solution__body .right .tab__item:first-child {
          padding-top: 0; }
    #solution .solution__body .check-wrapper {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      #solution .solution__body .check-wrapper input[type=radio] {
        display: none; }
      #solution .solution__body .check-wrapper label.chkbox {
        float: left;
        display: block;
        width: 18px;
        height: 18px;
        border: 1px solid #1a7774;
        margin: 0 25px 0 0; }
      #solution .solution__body .check-wrapper input[type=radio]:checked + label:before {
        width: 18px;
        height: 18px;
        display: block;
        content: "";
        background: url("../images/ok-arrow.png") 2px center no-repeat; }
    #solution .solution__body .desc-wrap {
      vertical-align: top;
      display: table-cell; }
      #solution .solution__body .desc-wrap p {
        line-height: 22px;
        margin-bottom: 10px; }
        #solution .solution__body .desc-wrap p:nth-child(2) {
          color: #386362; }
      #solution .solution__body .desc-wrap a {
        color: #cce6c4;
        font-size: 18px;
        line-height: 22px;
        display: inline-block;
        margin-bottom: 18px; }
        #solution .solution__body .desc-wrap a:hover {
          text-decoration: underline; }
    #solution .solution__body .price-wrap {
      width: 23%;
      text-align: right;
      display: table-cell;
      vertical-align: middle;
      padding-left: 25px;
      font-size: 22px;
      line-height: 20px; }
    #solution .solution__body .additional__desc {
      display: none;
      background: #1a7774;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 15px 22px;
      z-index: 2;
      overflow: hidden; }
      #solution .solution__body .additional__desc a {
        display: inline-block;
        float: right; }
      #solution .solution__body .additional__desc h4 {
        padding-top: 40px;
        color: #cce6c4;
        position: relative;
        display: inline-block; }
        #solution .solution__body .additional__desc h4:after {
          position: absolute;
          content: " ";
          display: block;
          width: 280px;
          height: 1px;
          left: 0;
          bottom: -11px;
          background: #566d5f;
          background: -webkit-linear-gradient(left, #5b9c8d 0%, #146d6b 100%);
          background: -webkit-gradient(linear, left top, right top, from(#5b9c8d), to(#146d6b));
          background: linear-gradient(to right, #5b9c8d 0%, #146d6b 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b9c8d', endColorstr='#146d6b',GradientType=1 ); }
      #solution .solution__body .additional__desc .desc__table {
        margin-top: 28px; }
        #solution .solution__body .additional__desc .desc__table .tr {
          display: table-row; }
          #solution .solution__body .additional__desc .desc__table .tr .td {
            width: 50%;
            display: table-cell;
            color: #c4e6e5;
            font-size: 18px;
            line-height: 22px;
            padding-bottom: 5px; }
            #solution .solution__body .additional__desc .desc__table .tr .td:last-child {
              color: #082525; }
    #solution .solution__body .additional_inner {
      max-height: 650px; }

#slider .slider-wrapper {
  background: #000 url("../images/slider-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 100px 0;
  position: relative; }

#slider h2 {
  color: #cce6c4;
  text-transform: uppercase;
  margin-bottom: 35px; }

#slider .table {
  display: table; }
  #slider .table .tr {
    display: table-row; }
  #slider .table .td {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 20px; }

#slider .number {
  color: #c4e6e5;
  background: #0ccc4b;
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  font-size: 26px;
  text-align: center;
  margin-right: 54px;
  margin-top: 8px; }

#slider p {
  font-size: 28px;
  line-height: 34px;
  color: #c4e6e5; }

#slider .tr .td:last-child span {
  font-size: 24px;
  line-height: 30px;
  color: #0ccc4b; }

#slider .owl-controls {
  display: none !important; }

#slider .prev, #slider .next {
  position: absolute;
  padding: 50px 0 0 0;
  margin-top: -70px;
  width: 50px;
  height: 90px;
  text-align: center;
  background: rgba(19, 111, 108, 0.3);
  cursor: pointer;
  z-index: 2; }
  #slider .prev:hover, #slider .next:hover {
    background: #1a7774; }

#slider .prev {
  left: 0;
  top: 50%; }

#slider .next {
  right: 0;
  top: 50%; }

#footer .footer-wrapper {
  background: #000 url("../images/footer-bg.jpg") center no-repeat;
  background-size: cover; }

#footer .footer {
  padding: 60px 0;
  color: #c4e6e5;
  overflow: hidden; }
  #footer .footer .column {
    float: left; }
  #footer .footer .column:first-child {
    width: 23.23%;
    margin-right: 2.336%; }
  #footer .footer .column:nth-child(2) {
    width: -webkit-calc(40.28% - 100px);
    width: calc(40.28% - 100px);
    margin-right: 2.336%;
    padding-right: 100px; }
    #footer .footer .column:nth-child(2) p {
      font-size: 24px;
      line-height: 30px; }
  #footer .footer .column:last-child {
    width: 31.75%; }

#footer h4 {
  text-transform: uppercase;
  margin-bottom: 15px; }

#footer li {
  margin-bottom: 20px;
  overflow: hidden; }
  #footer li a {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 20px; }
  #footer li .fb {
    background: url("../images/fb.png") 0 0 no-repeat; }
    #footer li .fb:hover {
      background: url("../images/fb.png") 0 -40px no-repeat; }
  #footer li .vk {
    background: url("../images/vk.png") 0 0 no-repeat; }
    #footer li .vk:hover {
      background: url("../images/vk.png") 0 -40px no-repeat; }

#footer .ff-wrapper input[type=text],
#footer .ff-wrapper input[type=email],
#footer .ff-wrapper textarea {
  color: #c4e6e5;
  font-family: "PT-Sans-Regular", sans-serif;
  font-size: 18px;
  border: 1px solid #c4e6e5;
  background: transparent;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  max-width: -webkit-calc(100% - 30px);
  max-width: calc(100% - 30px);
  padding: 5px 5px 7px 20px;
  margin-bottom: 20px; }

#footer .ff-wrapper textarea {
  height: 166px;
  max-height: 166px; }

#footer .ff-wrapper input::-webkit-input-placeholder,
#footer .ff-wrapper textarea::-webkit-input-placeholder {
  font-family: "PT-Sans-Regular", sans-serif;
  color: #c4e6e5; }

#footer .ff-wrapper input::-moz-placeholder,
#footer .ff-wrapper textarea::-moz-placeholder {
  font-family: "PT-Sans-Regular", sans-serif;
  color: #c4e6e5; }

#footer .ff-wrapper input:-moz-placeholder,
#footer .ff-wrapper textarea:-moz-placeholder {
  font-family: "PT-Sans-Regular", sans-serif;
  color: #c4e6e5; }

#footer .ff-wrapper input:-ms-input-placeholder,
#footer .ff-wrapper textarea:-ms-input-placeholder {
  font-family: "PT-Sans-Regular", sans-serif;
  color: #c4e6e5; }

#footer .captcha-wrapper {
  overflow: hidden; }
  #footer .captcha-wrapper input[type=text] {
    float: left;
    width: -webkit-calc(50% - 47px);
    width: calc(50% - 47px); }
  #footer .captcha-wrapper input:first-child {
    margin-right: 35px; }

#footer input.btn {
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 7px;
  width: 214px;
  margin-left: -webkit-calc(50% - 107px);
  margin-left: calc(50% - 107px);
  border: none;
  font-family: "PT-Sans-Regular", sans-serif; }

.copy {
  background: #140903;
  color: #c4e6e5;
  padding: 20px;
  font-family: "PT-Sans-Regular", sans-serif;
  text-align: center; }

#order-form {
  background: #1a7774;
  width: 460px;
  padding: 15px 22px;
  margin: 0 auto; }
  #order-form h4 {
    font-family: "PT-Sans-Regular", sans-serif;
    padding-top: 40px;
    color: #cce6c4;
    position: relative;
    display: inline-block; }
  #order-form a.close_popup {
    display: inline-block;
    float: right; }
  #order-form input,
  #order-form input,
  #order-form textarea {
    color: #c4e6e5;
    font-family: "PT-Sans-Regular", sans-serif;
    font-size: 18px;
    border: 1px solid #c4e6e5;
    background: transparent;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    max-width: -webkit-calc(100% - 30px);
    max-width: calc(100% - 30px);
    padding: 5px 5px 7px 20px;
    margin-top: 20px; }
  #order-form textarea {
    height: 115px;
    max-height: 115px; }
  #order-form input::-webkit-input-placeholder,
  #order-form textarea::-webkit-input-placeholder {
    font-family: "PT-Sans-Regular", sans-serif;
    color: #c4e6e5; }
  #order-form input::-moz-placeholder,
  #order-form textarea::-moz-placeholder {
    font-family: "PT-Sans-Regular", sans-serif;
    color: #c4e6e5; }
  #order-form input:-moz-placeholder,
  #order-form textarea:-moz-placeholder {
    font-family: "PT-Sans-Regular", sans-serif;
    color: #c4e6e5; }
  #order-form input:-ms-input-placeholder,
  #order-form textarea:-ms-input-placeholder {
    font-family: "PT-Sans-Regular", sans-serif;
    color: #c4e6e5; }
  #order-form .btn {
    background: #0b4543;
    width: 214px;
    margin-left: -webkit-calc(50% - 107px);
    margin-left: calc(50% - 107px); }

/**************************************************************************/
/**** constructor ****/
#constructor {
  background: url("../images/constructor-bg.jpg") top center no-repeat;
  background-size: cover; }
  #constructor .constructor {
    max-width: 1455px;
    margin: 0 auto;
    padding: 20px 0 195px 0; }
    #constructor .constructor .constructor__save {
      width: 80px;
      height: 138px;
      text-align: center;
      background: rgba(21, 111, 107, 0.5);
      position: fixed;
      right: 0;
      top: 255px;
      z-index: 10; }
      #constructor .constructor .constructor__save a {
        display: block;
        padding-top: 20px; }
        #constructor .constructor .constructor__save a + span {
          display: none;
          width: 100px;
          text-align: center;
          padding: 3px 0 5px 0;
          position: absolute;
          left: -122px;
          margin-top: -35px;
          color: #c4e6e5;
          background: rgba(21, 111, 107, 0.5);
          z-index: 10; }
          #constructor .constructor .constructor__save a + span:after {
            content: " ";
            position: absolute;
            right: -13px;
            border: 7px solid transparent;
            width: 0;
            height: 0;
            margin-top: 4px;
            border-left-color: rgba(21, 111, 107, 0.5);
            float: right; }
        #constructor .constructor .constructor__save a img {
          opacity: 0.5; }
        #constructor .constructor .constructor__save a:hover img {
          opacity: 1; }
    #constructor .constructor .logo {
      display: block;
      width: 100%; }
    #constructor .constructor h3 {
      padding-top: 95px;
      color: #cce6c4;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      font-size: 30px;
      margin-bottom: 120px; }
      #constructor .constructor h3:after {
        content: " ";
        display: block;
        width: 80px;
        height: 2px;
        background: #cce6c4;
        margin-left: -40px;
        position: absolute;
        left: 50%;
        bottom: -15px; }
  #constructor .constructor-bg-layer {
    background: rgba(13, 69, 67, 0.34); }
  #constructor .tabs {
    position: relative;
    display: inline-block;
    width: 100%; }
    #constructor .tabs .tab__item {
      float: right;
      border-bottom: 1px solid #1a7774; }
    #constructor .tabs input {
      display: none; }
    #constructor .tabs label.tab-btn {
      float: right;
      display: block;
      cursor: pointer;
      background: #1a7774;
      color: #c4e6e5;
      font-size: 20px;
      line-height: 25px;
      font-family: "PT-Sans-Regular", sans-serif;
      height: 55px;
      position: relative;
      top: 0;
      padding: 15px;
      width: 300px;
      letter-spacing: 1px;
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 150ms ease 0s;
      transition: all 150ms ease 0s;
      margin: 2px 0 0 0;
      border-right: 1px solid #000; }
    #constructor .tabs #tab3 + label {
      border-right: 0; }
    #constructor .tabs input:checked + label.tab-btn {
      background: #138f8b;
      margin-top: 2px;
      cursor: pointer; }
    #constructor .tabs .tab {
      display: none; }
    #constructor .tabs .content {
      width: 100%;
      float: left;
      position: relative;
      border-top: 1px solid #1a7774;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all .5s;
      transition: all .5s; }
      #constructor .tabs .content .scroll {
        max-height: 660px; }
    #constructor .tabs input:nth-of-type(1):checked ~ .content .tab:nth-of-type(1),
    #constructor .tabs input:nth-of-type(2):checked ~ .content .tab:nth-of-type(2),
    #constructor .tabs input:nth-of-type(3):checked ~ .content .tab:nth-of-type(3) {
      display: block; }
    #constructor .tabs .mCSB_scrollTools .mCSB_draggerRail {
      width: 4px;
      background: #1a7774; }
    #constructor .tabs .tab__item {
      padding-top: 15px; }
      #constructor .tabs .tab__item:first-child {
        padding-top: 0; }
    #constructor .tabs .tab__body {
      display: inline-block;
      width: 100%; }
    #constructor .tabs .left {
      width: 40%;
      min-height: 100px;
      float: left; }
    #constructor .tabs .left__img {
      background: rgba(21, 111, 107, 0.5);
      border: 1px solid #1a7774;
      text-align: center;
      padding: 30px;
      margin-bottom: 30px;
      max-height: 331px; }
      #constructor .tabs .left__img img {
        height: 100%;
        width: auto; }
    #constructor .tabs .left__description {
      padding: 19px 25px;
      border: 1px solid #1a7774;
      background: rgba(204, 230, 196, 0.5);
      color: #082525; }
      #constructor .tabs .left__description h4 {
        font-size: 18px;
        line-height: 26px;
        position: relative;
        display: inline-block;
        margin-bottom: 20px; }
        #constructor .tabs .left__description h4:after {
          position: absolute;
          content: " ";
          display: block;
          width: 280px;
          height: 1px;
          left: 0;
          bottom: -8px;
          background: #43655a;
          background: -webkit-linear-gradient(left, #43655a 0%, #668b7b 100%);
          background: -webkit-gradient(linear, left top, right top, from(#43655a), to(#668b7b));
          background: linear-gradient(to right, #43655a 0%, #668b7b 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43655a', endColorstr='#668b7b',GradientType=1 ); }
      #constructor .tabs .left__description .description__body .tr {
        display: table-row; }
        #constructor .tabs .left__description .description__body .tr .td {
          display: table-cell;
          padding-bottom: 10px; }
          #constructor .tabs .left__description .description__body .tr .td:last-child {
            padding-left: 65px; }
      #constructor .tabs .left__description .description__body .tr:last-child .td {
        font-size: 18px;
        font-family: "PT-Sans-Bold", sans-serif;
        color: #082525;
        padding-bottom: 33px; }
    #constructor .tabs .right {
      width: 56.75%;
      min-height: 100px;
      float: right; }
    #constructor .tabs .right__select-box {
      background: rgba(21, 111, 107, 0.5);
      border: 1px solid #1a7774;
      padding: 30px 25px;
      margin-bottom: 30px; }
    #constructor .tabs .icon {
      display: block;
      position: relative;
      width: 1.5em;
      height: 1.5em;
      margin: 0 auto; }
      #constructor .tabs .icon:before, #constructor .tabs .icon:after {
        content: "";
        position: absolute; }
    #constructor .tabs .dropp {
      width: 100%;
      border: 1px solid #c4e6e5;
      margin-bottom: 30px;
      position: relative; }
    #constructor .tabs .dropp-header {
      background: transparent;
      color: #c4e6e5;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      position: relative; }
    #constructor .tabs .dropp-header__title {
      display: block;
      padding: 9px 50px 9px 20px;
      font-size: 18px;
      line-height: 40px;
      -webkit-box-flex: 8;
      -webkit-flex: 8;
      -ms-flex: 8;
      flex: 8; }
    #constructor .tabs .dropp-header__title.added {
      line-height: 22px;
      padding: 8px 50px 8px 20px; }
    #constructor .tabs .dropp-header__btn {
      display: block;
      background: transparent;
      color: #c4e6e5;
      padding: 15px 0 13px 0;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100%;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      position: absolute; }
      #constructor .tabs .dropp-header__btn .icon {
        padding-right: 16px;
        float: right;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        display: block;
        background: url("../images/select-arrow-down.png") center no-repeat; }
      #constructor .tabs .dropp-header__btn.js-open {
        background: transparent; }
        #constructor .tabs .dropp-header__btn.js-open .icon {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
          #constructor .tabs .dropp-header__btn.js-open .icon:before, #constructor .tabs .dropp-header__btn.js-open .icon:after {
            background: #c4e6e5; }
      #constructor .tabs .dropp-header__btn:focus {
        outline: none; }
    #constructor .tabs .dropp-body {
      overflow: hidden;
      width: 100%;
      max-height: 0;
      background: #1c7f7c;
      color: #c4e6e5;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      position: absolute;
      top: 58px;
      z-index: 1;
      left: -1px;
      border: 1px solid #c4e6e5;
      display: none; }
      #constructor .tabs .dropp-body .scroll-select {
        max-height: 470px; }
      #constructor .tabs .dropp-body.js-open {
        max-height: 470px;
        display: block; }
      #constructor .tabs .dropp-body .mCSB_scrollTools .mCSB_draggerRail {
        width: 35px !important;
        background: #0f5552 !important;
        border-radius: 0;
        margin-left: -17px; }
      #constructor .tabs .dropp-body .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 35px !important;
        border-radius: 0;
        background: #138f8b !important;
        margin-left: -17px; }
      #constructor .tabs .dropp-body label {
        display: block;
        font-size: 18px;
        line-height: 22px;
        color: #c4e6e5;
        text-decoration: none;
        padding: 7px 20px 9px 20px;
        font-weight: 400;
        cursor: pointer;
        background: #156f6b; }
        #constructor .tabs .dropp-body label:nth-child(2n) {
          background: #277b77; }
        #constructor .tabs .dropp-body label:first-child {
          -webkit-box-shadow: none;
          box-shadow: none; }
        #constructor .tabs .dropp-body label:hover {
          background: #1f8c88; }
        #constructor .tabs .dropp-body label.checked {
          background: rgba(204, 230, 196, 0.5); }
        #constructor .tabs .dropp-body label > input {
          display: none; }
    #constructor .tabs .item__price-wrap {
      float: right;
      text-align: right; }
    #constructor .tabs .parameters {
      color: #082525; }
    #constructor .tabs .btn-box__price {
      background: #0ccc4b;
      padding: 15px 40px 15px 25px;
      width: -webkit-calc(50% - 80px);
      width: calc(50% - 80px);
      float: left;
      color: #c4e6e5;
      font-family: "PT-Sans-Bold", sans-serif;
      font-size: 24px; }
      #constructor .tabs .btn-box__price span:nth-child(2) {
        float: right; }
    #constructor .tabs .right__btn-box a {
      float: right;
      padding: 16px 0;
      text-align: center;
      width: -webkit-calc(50% - 15px);
      width: calc(50% - 15px); }

/**** end constructor ****/
@media screen and (max-width: 2048px) {
  .menu__body .menu__item h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 25.404% 20px 0 20px; } }

@media screen and (max-width: 1920px) {
  .desctop-hide {
    display: none; } }

@media screen and (max-width: 1680px) {
  .desctop-hide {
    display: none; } }

@media screen and (max-width: 1440px) {
  .menu__body .menu__caption {
    padding-top: 3.23%; }
  .menu__body .menu__caption p {
    font-size: 16px;
    line-height: 18px;
    width: 80%;
    margin: 0 auto; }
  .menu__body .menu__caption span {
    font-size: 50px; }
  h2 {
    font-size: 30px;
    line-height: 35px; }
  .menu__body .menu__item h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 80px 0 0 0; } }

@media screen and (max-width: 1200px) {
  .desctop-hide {
    display: none; }
  .menu__body .menu__caption {
    padding-top: 1%; }
  .menu__body .menu__caption p {
    font-size: 14px;
    width: 74%; }
  .menu__body .menu__caption span {
    font-size: 45px; }
  h2 {
    font-size: 26px;
    line-height: 30px; }
  .menu__body .menu__item h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 23% 0 0 0; }
  #solution .solution__body .left .description__imgBox {
    width: 33%; }
  #solution .solution__body .price-wrap {
    width: 33%; } }

@media screen and (max-width: 1024px) {
  .menu__body .menu__caption {
    padding-top: 2%; }
    .menu__body .menu__caption h2 {
      font-size: 22px;
      line-height: 30px; }
  .menu__body .menu__item h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 17% 0 0 0; }
  .menu__body .menu__caption span {
    font-size: 35px; }
  .menu__body .menu__caption p {
    font-size: 13px;
    line-height: 12px;
    width: 74%; } }

@media screen and (max-width: 992px) {
  .tablet-hide {
    display: none; }
  #solution .solution__body .left .description__imgBox {
    width: 33%; }
  #solution .solution__body .price-wrap {
    width: 33%; }
  #header .header__text {
    width: 100%;
    text-align: center; }
    #header .header__text h2 {
      font-size: 36px;
      text-align: center;
      line-height: 50px;
      margin: 0 auto 30px auto; }
    #header .header__text p {
      width: 90%;
      margin: 0 auto 45px auto; }
  #header .header__body a {
    margin-bottom: 90px; }
  #solution {
    position: relative; }
    #solution .solution__body {
      padding: 35px 0;
      overflow: hidden;
      color: #c4e6e5; }
      #solution .solution__body h3 {
        text-align: center;
        position: relative;
        margin-bottom: 33px;
        font-size: 14px; }
        #solution .solution__body h3:after {
          content: " ";
          display: block;
          width: 38px;
          height: 1px;
          background: #1a7774;
          margin-left: -18px;
          position: absolute;
          left: 50%;
          bottom: -4px; }
      #solution .solution__body .left .description {
        border: 1px solid #1a7774;
        background: rgba(21, 111, 107, 0.1);
        padding: 25px 15px;
        max-height: 420px; }
      #solution .solution__body .left .description__imgBox {
        width: 50%;
        display: table-cell;
        vertical-align: top; }
      #solution .solution__body .left .description__textBox {
        padding-left: 10%; }
        #solution .solution__body .left .description__textBox h4 {
          font-size: 12px;
          margin-bottom: 5px; }
          #solution .solution__body .left .description__textBox h4:after {
            width: 80px;
            height: 1px;
            left: 0;
            bottom: -2px; }
        #solution .solution__body .left .description__textBox p {
          font-size: 10px; }
        #solution .solution__body .left .description__textBox ul {
          min-height: auto;
          padding-top: 0;
          margin-bottom: 9px; }
          #solution .solution__body .left .description__textBox ul li {
            font-size: 10px;
            line-height: 12px; }
      #solution .solution__body .left .price-box p {
        font-size: 12px;
        margin-bottom: 12px; }
      #solution .solution__body .left .price-box .btn {
        font-size: 11px;
        padding: 3px 7px; }
      #solution .solution__body .left .option {
        margin: 13px 0 0 0; }
        #solution .solution__body .left .option h4 {
          font-size: 12px;
          margin: 0 0 0 10px;
          padding-bottom: 10px; }
        #solution .solution__body .left .option li {
          overflow: hidden;
          margin-bottom: 10px; }
          #solution .solution__body .left .option li .td p {
            font-size: 10px;
            line-height: 20px; }
          #solution .solution__body .left .option li .td:last-child {
            width: 25%;
            padding-left: 11.34%; }
        #solution .solution__body .left .option label {
          margin: 0 15px 0 10px; }
      #solution .solution__body .right {
        width: 49%;
        float: right;
        overflow: hidden; }
        #solution .solution__body .right .mCSB_scrollTools, #solution .solution__body .right .mCSB_draggerRail {
          width: 2px;
          margin-right: 0; }
        #solution .solution__body .right .mCSB_inside > .mCSB_container {
          margin-right: 10px !important; }
        #solution .solution__body .right .tabs {
          position: inherit;
          overflow: hidden; }
        #solution .solution__body .right .tab__item {
          border-bottom: 1px solid #1a7774; }
        #solution .solution__body .right input {
          display: none; }
        #solution .solution__body .right label.tab-btn {
          font-size: 12px;
          line-height: 25px;
          height: 25px;
          position: relative;
          padding: 0;
          margin: 2px 0 0 0;
          border-right: 1px solid #000; }
        #solution .solution__body .right input:checked + label.tab-btn {
          height: 27px;
          padding: 0;
          line-height: 27px;
          margin-top: 0;
          cursor: pointer; }
        #solution .solution__body .right .tab {
          display: none;
          padding: 5px 10px;
          clear: left; }
        #solution .solution__body .right .content {
          max-height: 402px;
          height: auto;
          width: 100%;
          float: left;
          position: relative;
          padding: 7px 0 9px 6px;
          background: rgba(21, 111, 107, 0.1);
          border: 1px solid #1a7774;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          #solution .solution__body .right .content .scroll {
            max-height: 362px; }
      #solution .solution__body .check-wrapper input[type=radio] {
        display: none; }
      #solution .solution__body .check-wrapper label.chkbox {
        margin: 0 9px 0 0; }
      #solution .solution__body .desc-wrap p {
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 5px; }
      #solution .solution__body .desc-wrap a {
        font-size: 12px;
        line-height: 13px; }
      #solution .solution__body .price-wrap {
        width: 29%;
        display: table-cell;
        vertical-align: middle;
        padding-left: 25px;
        font-size: 12px;
        line-height: 12px; }
      #solution .solution__body .additional__desc {
        display: none;
        width: 77.47%;
        background: #1a7774;
        position: absolute;
        left: -webkit-calc((100% - 595px) / 2);
        left: calc((100% - 595px) / 2);
        top: 55px;
        padding: 15px 22px;
        z-index: 2;
        overflow: hidden; }
        #solution .solution__body .additional__desc a {
          display: inline-block;
          float: right; }
        #solution .solution__body .additional__desc h4 {
          font-size: 14px;
          padding-top: 40px;
          position: relative;
          display: inline-block; }
          #solution .solution__body .additional__desc h4:after {
            position: absolute;
            content: " ";
            display: block;
            width: 280px;
            height: 1px;
            left: 0;
            bottom: -11px; }
        #solution .solution__body .additional__desc .desc__table {
          margin-top: 28px; }
          #solution .solution__body .additional__desc .desc__table .tr .td {
            width: 50%;
            font-size: 12px;
            line-height: 13px; }
  #slider {
    position: relative; }
    #slider .prev, #slider .next {
      position: absolute;
      padding: 3px 0 0 0;
      width: 30px;
      height: 30px;
      background: #116d6a;
      cursor: pointer;
      z-index: 3; }
      #slider .prev img, #slider .next img {
        height: 90%; }
    #slider .prev {
      right: 71px;
      top: 82px;
      left: auto; }
    #slider .next {
      right: 38px;
      top: 82px; }
    #slider .slider-wrapper {
      padding: 70px 0 65px 0; }
    #slider h2 {
      margin-bottom: 18px;
      font-size: 24px;
      line-height: 30px; }
    #slider .table .td {
      padding-bottom: 13px; }
    #slider .number {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      text-align: center;
      margin-right: 30px;
      margin-top: 8px; }
    #slider p {
      font-size: 18px;
      line-height: 22px; }
    #slider .tr .td:last-child span {
      font-size: 16px;
      line-height: 22px; }
  #footer .footer {
    padding: 35px 0; }
    #footer .footer .column:first-child {
      width: 28%;
      margin-right: 2.336%; }
      #footer .footer .column:first-child p {
        font-size: 12px; }
    #footer .footer .column:nth-child(2) {
      width: -webkit-calc(34.28% - 30px);
      width: calc(34.28% - 30px);
      margin-right: 2.336%;
      padding-right: 30px; }
      #footer .footer .column:nth-child(2) p {
        font-size: 12px;
        line-height: 16px; }
    #footer .footer .column:last-child {
      width: 31.75%; }
  #footer h4 {
    text-transform: uppercase;
    margin-bottom: 15px; }
  #footer li {
    margin-bottom: 12px; }
  #footer .ff-wrapper input[type=text],
  #footer .ff-wrapper input[type=email],
  #footer .ff-wrapper textarea {
    width: 100%;
    font-size: 12px;
    padding-left: 13px; }
  #footer .ff-wrapper textarea {
    height: 99px;
    max-height: 99px; }
  #footer .captcha-wrapper input[type=text] {
    float: none;
    width: 100%; }
  #footer .captcha-wrapper input:first-child {
    margin-right: 0; }
  #footer input.btn {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 7px;
    width: -webkit-calc(100% - 9px);
    width: calc(100% - 9px);
    margin-left: 0;
    border: none;
    font-family: "PT-Sans-Regular", sans-serif; } }

@media (min-width: 769px) and (max-width: 850px) {
  .menu__body .menu__item h2 {
    font-size: 16px;
    line-height: 20px;
    width: 70%; }
  .menu__body .menu__caption span {
    font-size: 26px; }
  .menu__body .menu__caption p {
    font-size: 12px; } }

@media (min-width: 750px) and (max-width: 768px) {
  .phone-hide {
    display: none; }
  .phone-show {
    display: block; }
  .menu__body .menu__item h2 {
    font-size: 18px;
    line-height: 22px; }
  .menu__body .menu__caption span {
    font-size: 26px; }
  .menu__body .menu__item {
    width: 27.3%;
    height: 40%; }
    .menu__body .menu__item:hover {
      color: #0ccc4b;
      background: url("../images/menu-border-tablet.png") center 0 no-repeat;
      background-size: 100%; }
    .menu__body .menu__item h2 {
      margin: 30px auto 0 auto;
      width: 70%; }
  .menu__body .first {
    background: url("../images/menu_1-tablet.png") center 0 no-repeat;
    left: 26%;
    top: 11.7%; }
    .menu__body .first:hover {
      background: url("../images/menu-border-tablet.png") center 0 no-repeat, url("../images/menu_1-tablet.png") top no-repeat; }
  .menu__body .second {
    background: url("../images/menu_2-tablet.png") top no-repeat;
    right: 4.9%;
    top: 11.7%; }
    .menu__body .second:hover {
      background: url("../images/menu-border-tablet.png") center 0 no-repeat, url("../images/menu_2-tablet.png") top no-repeat; }
  .menu__body .menu__caption {
    width: 27.2%;
    height: 41%;
    background: url("../images/menu_caption_bg-tablet.png") top no-repeat;
    padding-top: 4.4%; }
    .menu__body .menu__caption span {
      font-size: 26px; }
    .menu__body .menu__caption p {
      width: 77%;
      margin: 0 auto;
      font-size: 11px;
      line-height: 12px; }
  .menu__body .one {
    left: 5.2%;
    top: 31.27%; }
  .menu__body .two {
    left: 26%;
    top: 50.8%; }
  .menu__body .three {
    right: 25.8%;
    top: 31.27%; }
  .menu__body .four {
    right: 4.9%;
    top: 50.8%; } }

@media screen and (max-width: 600px) {
  .small-phone-hide {
    display: none; } }

@media screen and (max-width: 450px) {
  .small-phone-hide {
    display: none; } }

@media screen and (max-width: 350px) {
  .small-phone-hide {
    display: none; } }
